@font-face {
    font-family: 'ABeeZee';
    font-style: normal;
    font-weight: 400;
    src: local(''),
            url('../fonts/abeezee-v22-latin-regular.woff2') format('woff2'), 
            url('../fonts/abeezee-v22-latin-regular.woff') format('woff'); 
}

@font-face {
    font-family: 'ABeeZee';
    font-style: italic;
    font-weight: 400;
    src: local(''),
            url('../fonts/abeezee-v22-latin-italic.woff2') format('woff2'),
            url('../fonts/abeezee-v22-latin-italic.woff') format('woff'); 
}

* {
    margin: 0px, 0px, 0px, 0px;
    padding: 0px, 0px, 0px, 0px;
    box-sizing: border-box;
    font-family: 'ABeeZee', sans-serif;
}

.body{
    background-color: rgb(47, 86, 225);
}

.body2{
    background-color: darkcyan;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    vertical-align: middle;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.padding{
    padding-left: 20px;
    padding-right: 20px;
}

.center{
    text-align: center;
}

.header{
    border: 10px solid rgb(58, 153, 241);
    background-color: cadetblue;
}

.header__title{
    color: white;
    padding: 20px;
    margin-top: 0px;
    align-items: center;
}

.header__title2{
    color: white;
}

.header__title-place{
    padding-right: 100px;
    background-color: rgb(173, 190, 16);
}

.header__info{
    color: rgb(133, 75, 75);
    background-color: blanchedalmond;
    border: 10px solid rosybrown;
    border-radius: 10%;
    padding: 10px;
}

.header__info2{
    border: 10px solid rgb(173, 190, 16);
    background-color: rgb(173, 190, 16);
}

.header__link-to-last-page{
    position: absolute;
}

.header__videos{
    margin-top: 20px;
    border: 5px solid rgb(173, 190, 16);
    background-color: rgb(173, 190, 16);;
    margin: auto;
}

.main{
    background-color: rgb(42, 42, 42);
    color: white;
    margin-top: 1.60%;
    border: 10px solid rgb(0, 132, 255);;
}

.main__img{
    margin-left: -10px;
}

.section{
    margin-top: 1.60%;
    background-color: rgb(226, 215, 121);
    border: 10px solid rgb(0, 132, 255);
}

.section__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section__list2{
    padding: 0;
}

.section__info{
    border: 5px solid red;
    background-color: rgb(0, 187, 255);
}

.section__link-to-page{
    margin-top: 70px;
}

.section__btn{
    background-color: bisque;
    border: 2px solid red;
    padding: 10px;
    color: rgb(255, 127, 127);
}

.item__title1{
    border: 5px solid yellowgreen;
    background-color: yellowgreen;
}

.item__title2{
    border: 5px solid cornflowerblue;
    background-color: cornflowerblue;
}